@font-face {
    font-family: 'ArialRound';
    src: url('/assets/arlrdbd.ttf');
    format('truetype');
}

html, body {
    height: 100%;
    font-family: 'ArialRound';
}

body {
    margin: 0;
    background: #c0d6ed url(/assets/svg/RepeatingBG.svg);
    background-size: 25%;
    color: black;
}

a {
    color: #254db0;
}

body > #header {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background: #7a9fd6;
    margin: 0px 0px 30px 0px;
}

@media screen and (max-width: 500px) {
    body > #header {
        flex-direction: column;
    }
}

body > #header > h1 {
   flex-shrink: 1; 
   float: left;
   margin: 5px 0px 5px 0px;
}

body > #header > .links {
    margin: auto 0 auto auto;
    text-align: right;
    flex: 1;
}

body > #header > .links > a {
    padding: 0px 10px 0px 10px;
}


@media screen and (max-width: 500px) {
    body > #header > .links {
        margin: auto;
        text-align: center;
    }
}

body > #header > .links > a {
    display: inline;
}

main {
    flex: 1 0 auto;
}

main > header {
    text-align: center;
    height: 100px
}

main > header > span {
    position: relative;
    margin: 10px; 
    padding: 20px;
    border-radius: 20px;
    font-size: 7vw;
    text-align: center;
    vertical-align: baseline;
    color: white;
    background: #7a9fd6; 
}

@media screen and (min-width: 768px) {
    main > header > span {
        font-size: 54px;
    }
}

main > header > span > img {
    transform: translate(0px, 10px);
}

main > header > span > img.invert {
    transform: scaleX(-1) translate(0px, 10px);
}

footer {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    padding: 10px;
    background: #7a9fd6;
}

footer > div {
    padding-bottom: 10px;
}

footer a {
    margin: 0px 10px 0px 0px
}

.template {
    display: none;
}

.currentTime {
    font-size: 10px;
    width: 90%;
}

input[type=number], input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-size: 16px;
    font-family: 'ArialRound';
    color: #7e4e19;
    border-color: #e7c885;
    border: line;
    border-radius: 20px;
    padding: 5px; 
    text-align: right;
}

input[type=number] {
    text-align: left;
    width: 60px;
}

input[type=text], input[type=password] {
    text-align: left;
    width: 100px;
}

input[type=submit], button {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
    font-family: 'ArialRound';
    font-size: 20px;
    border: none;
    background: url(/assets/svg/buttonbg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

