div.pricelist {
    position: relative;
    background: #7a9fd6;
    border-radius: 50px;
    margin: 10px 0px 10px 0px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    width: calc(100% - 60px);
    height: 500px;
}

div.pricelist > h1 {
    background: #fbfee3;
    color: #2e43ac;
    margin: 0px auto 10px auto;
    padding: 8px;
    width: 200px;
    border-radius: 35px;
    font-size: 25px;
}

div.pricelist > a {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: calc(100% - 45px - 30px);

    background: #fbfee3 url(/assets/svg/sort.svg);
    background-size: 45px 45px; 
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 30px;
}

@media screen and (max-width: 400px) {
    div.pricelist > a {
        width: 35px;
        height: 35px;
        transform: translate(20px, 5px);
    }
}

div.pricelist_tablecontainer {
    background: #fbfee3;
    border-radius: 20px;
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: scroll;
    list-style-type: none;
    padding: 0;
}

div.pricelist table {
    width: 100%;
}

div.pricelist td {
    border-color: #333d84;
    border-style: none none dashed none;
    vertical-align: middle;
}

div.pricelist tr {
    height: 30px;
    color: #333d84;
    vertical-align: baseline;
}

.islandopen_label {
    color: white;
    font-size: 12px;
    background: grey;
    border-radius: 30px;
    padding: 2px 5px 2px 5px;
    width: 110px;
}

.islandopen_open    { background-color: #4ed961; }
.islandopen_friends { background-color: #f8b833; }
.islandopen_seebio  { background-color: #799ed5; }
.islandopen_closed  { background-color: #e46465; }

.market_status_label {
    font-size: 10px;
}

.bells_label {
    font-size: 16px;
    color: #ff7f0e;
}

.dodocode_label {
    font-size: 13px;
    color: #625032;
    width: 20px;
    padding: 0px 5px 0px 5px;
}

.nickname_label {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
}

.item_label {
    font-size:20px;
}

div.pricelist .item_row {
    height: 46px;
}

div.pricelist .stale {
    background-image: linear-gradient(45deg, rgba(0,0,0,0) 29.41%, #c7c7c7 29.41%, #c7c7c7 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 79.41%, #c7c7c7 79.41%, #c7c7c7 100%);
    background-size: 24.04px 24.04px;
    color: grey;
}

.stale .bells_label {
    color: grey;
}

.nostale {
    display: none;
}

.nostale_text {
    color: red;
    font-size: 12px;
}


