<select id="ac-select-2" class="my_favthing_input">
        <option>Bug catching</option>
        <option>Cheating ;)</option>
        <option>Creating patterns</option>
        <option>Designing clothes</option>
        <option>Designing my home</option>
        <option>Emoting</option>
        <option>Farming</option>
        <option>Fishing</option>
        <option>Get achievements</option>
        <option>Gettin gud</option>
        <option>Gettin rich</option>
        <option>Hitting people with nets</option>
        <option>Landscaping</option>
        <option>Listening to music</option>
        <option>Mailing letters</option>
        <option>Nothing</option>
        <option>Playing with friends</option>
        <option>Shopping</option>
        <option>Spending all the money</option>
        <option>Talking to villagers</option>
        <option>Watering flowers</option>
    </optgroup>
</select>




















