<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;

  overflow-y: scroll;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table {
  font-family: arialrounded;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>



<!-- Trigger/Open The Modal -->
<button id="myBtn">Markdown Guide</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>
    <h2>Markdown Guide</h2>

<table>
  <tr>
    <th>Emphasis</th>
    <th>Markdown</th>
  </tr>
  <tr>
    <td>Heading (large title text)</td>
    <td># H1</br>
    <br>## H2</br>
    <br>## H3</br></td>
  </tr>
  <tr>
    <td><b>Bold</b></td>
    <td>**bold text**</td>
  </tr>
  <tr>
    <td><i>Italics</i></td>
    <td>*italicised text*</td>
  </tr>
  <tr>
    <td>Blockquote</td>
    <td>> blockquote</td>
  </tr>
  <tr>
    <td>Numbered List</td>
    <td>1. First item</br>
    <br>2. Second item</br>
    <br>3. Third item</br></td>
  </tr>
  <tr>
    <td>Bullet Point list</td>
    <td>- First item</br>
    <br>- Second item</br>
    <br>- Third item</br></td>
  </tr>
    <tr>
    <td><pre>Code</pre></td>
    <td>`code`</td>
  </tr>
    <tr>
    <td>Horizontal Rule</td>
    <td>---</td>
  </tr>
      <tr>
    <td>Link</td>
    <td>[text](https://www.example.com)</td>
  </tr>
      <tr>
    <td>Image</td>
    <td>![alt text](image.jpg)</td>
  </tr>
</table>

    </p>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
