<div id="pricelist" class="pricelist template" >
    <h1></h1>
    <a class="sort_button" href="javascript:void(0)"></a>
    <div class="pricelist_tablecontainer">
        <table>
            <tr id="price" class="template">
                <td style="text-align: center; width: 110px">
                    <span class="islandopen_label">OPEN</span>
                    <br/>
                    <span class="market_status_label">BUYING</span><br/>
                    <img src="/assets/svg/bells.svg" style="height: 17px;" />
                    <span class="bells_label">999</span>
                </td>
                <td class="dodocode_label">DDR34</td>
                <td ><a class="nickname_label"href=""></a></td>
            </tr>
            <tr id="item" class="item_row template">
                <td style="text-align: left; padding-left: 20px;">
                    <img src="/assets/svg/item.svg" style="height: 24px; transform: translate(-5px, 5px);" />
                    <span class="item_label">gimme ur turnip prices nerd</span>
                </td>
                <td ><a class="nickname_label"href="">Kakunaman</a></td>
            </tr>

        </table>
    </div>
</div>
